header {
  display: inline;
}
nav {
  max-width: 100%;
}

nav ul {
  display: inline;
  list-style: none;
}

body {
  text-align: center;
  background-color: #B6DBB1;
  color: #264954;
}

img {
  display: inline-block;
  max-width: 2em;
  max-height: 2em;

}
