header {
  height: 20em;
}

#icon-burger {
  display: inline-block;
  max-width: 2em;
  max-height: 2em;
}

section img {
  max-width: 100%;
  margin-top: 4%;
  border-radius: 10%;
  border: 4px solid #50808E;
}

#oahupic {
  margin-bottom: 2em;
}

ul li {
  margin-right: 2em;
}

footer ul {
  margin-bottom: 0%;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin: 2em;
}

article.edutemplate {
  display: none;
}

@media only screen and (min-width: 640px) {
  #icon-burger {
    display: none;
  }
  .nav-section ul {
    display: block !important;
    padding-top: 2.5em;
  }
  .nav-section li {
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .nav-section ul {
    display: none;
  }
  header {
    background-color: rgba(255, 255, 255, 0.33);
  }
}
