header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
}

nav ul {
  display: inline-flex;
}

nav ul li {
  width: 10em;
}

body {
  text-align: center;
  background-color: #B6DBB1;
  color: #264954;
}

footer ul li {
  display: inline-block;
  width: 20em;
}
